.App {
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.total {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.expenses {
  margin-bottom: 20px;
  height: 300px;
  overflow: scroll;
}

.debtContainer {
  display: flex;
  justify-content: space-around;
}